<template>
  <div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <h5 class="mb-1"><i class="feather icon-plus-square mr-25"></i>Add New Task</h5>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <div class="controls">
            <label>Title <span class="text-danger">*</span></label>
            <input type="text" name="title" class="form-control  required" v-model="title" placeholder="Task Title"
                   data-validation-required-message="Task title is required">
          </div>

        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Date</label>
          <input type='date' v-model="task_date" class="form-control" />
        </div>
      </div>
    </div>
    <div class="divider divider-right">
      <div class="divider-text"> <button type="button" class="btn btn-md btn-clean btn-outline-primary" @click="AddTask" >Add Task</button></div>
    </div>
  </div>
</template>

<script>
    import { EventBus } from '../scripts/event-bus.js';


    export default {
        data() {
            return {
                title: '',
                task_date: '',
            }
        },
        methods: {
            AddTask()
            {
                const task = {
                    title: this.title,
                    task_date: this.task_date
                }


                EventBus.$emit('Task_Added', task)
                this.title='';
                    this.task_date='';

            },
            fetchMessage(user) {
                axios.post('/messages',{sender_id: user.id}).then(response => {
                    this.messages = response.data;
                    this.none = '';
                    this.chatAreaNone = 'd-none';
                })
                this.openChannel();
            },
            openChannel(){
                Echo.join('chat-' + this.user.id + '-' + this.authUser.id)
                    .listen('MessageSent',(event) => {
                      this.channelNames.push('chat-' + this.user.id + '-' + this.authUser.id);
                      if(event.message.sender_id == this.user.id){
                        this.messages.push(event.message)
                        console.log(event,'event');
                        var senderMessage = [this.user.first_name + ':' + event.message.message,this.user.id];
                        EventBus.$emit('last-message', senderMessage);
                      }
                    })
                Echo.join('chat-' + this.authUser.id + '-' + this.user.id)
                    .here(user => {
                        this.channelNames.push('chat-' + this.user.id + '-' + this.authUser.id);
                        this.chatusers = user;
                    })
                    .joining((user) => {
                        this.chatusers.push(user);
                    })
                    .leaving((user) => {
                        this.$delete(this.chatusers, 1)
                    })
            },
            sendMessage() {
                this.sendAt=Date.now();
                if(this.newMessage != ''){
                  this.messages.push({
                        sender_id: this.authUser.id,
                        receiver_id: this.user.id,
                        message: this.newMessage,
                        created_at: this.sendAt
                      });
                      var messageNew = this.newMessage;
                      this.newMessage = '';
                  axios.post('/messages/send', {
                      sender_id: this.authUser.id,
                      receiver_id: this.user.id,
                      message: messageNew,
                      notification: this.chatusers.length
                  }).then(response => {
                      var senderMessage = [this.authUser.first_name + ':' + messageNew,this.user.id,response.data];
                      console.log(senderMessage,'senderMessage','chat-' + this.authUser.id + '-' + this.user.id);
                      EventBus.$emit('last-message', senderMessage);
                  });


                }
            },
            getCurrentDate()
            {
                 this.currentDate=this.$moment(new Date()).format('MM-DD-YYYY');
            },
            getChatStartDate()
            {
                if(this.startDate == '')
                {
                    this.startDate=this.date;
                }
            },
            dateSeparator(currentDate, oldDate)
            {
                var current=this.$moment(currentDate).format('MM-DD-YYYY');
                var old=this.$moment(oldDate).format('MM-DD-YYYY');
                this.oldDate=currentDate;
                if(old < current)
                {
                    return true;

                }
                else
                {
                    return false;
                }
            },
            isToday(currentDate)
            {
                var today=this.$moment(new Date()).format('MM-DD-YYYY');
                var current=this.$moment(currentDate).format('MM-DD-YYYY');
                if(current == today)
                {
                    return true;
                }
                return false;

            },
            isYesterday(currentDate)
            {
                var now_start_of_the_day=this.$moment().startOf('day');
                var current_start_of_the_day=this.$moment(currentDate).startOf('day');
                var today=this.$moment(new Date()).format('MM-DD-YYYY');
                var current=this.$moment(currentDate).format('MM-DD-YYYY');
                if(current < today && now_start_of_the_day.diff(current_start_of_the_day, 'days') == 1)
                {
                    return true;
                }
                return false;
            }
        },

        mounted() {
            EventBus.$on('emitted-data', (user) => {
                for (var i = 0; i < this.channelNames.length; i++) {
                        Echo.leave(this.channelNames[i]);
                      }
                this.channelNames.splice(0,this.channelNames.length);
                this.$refs.chatdiv.scrollTop = 0;
                this.user = user;
                this.fetchMessage(user);
            });
        }
    }

</script>
