<template>
  <div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <h5 class="mb-1 mt-2 mt-sm-0"><i class="feather icon-help-circle mr-25"></i>Pending Tasks</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="incomplete-table" class="table">
            <thead>
            <tr>
              <th>No.</th>
              <th>Task Title</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(task, counter) in tasks" v-if="tasks"
                 v-bind:key="counter">
              <td>{{counter+1}}</td>
              <td>{{task.title}}</td>
              <td>{{task.task_date}}</td>
              <td class="text-nowrap">
                <button type="button" data-toggle="tooltip"
                   data-placement="top" title="Complete" @click="completeTask(counter)" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i
                  class="ficon feather icon-check"></i></button>
                <button type="button" @click="deleteTask(counter)" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                        data-toggle="tooltip"
                        data-placement="top" title="Delete"><i
                  class="ficon feather icon-trash-2"></i></button>
              </td>
            </tr>
            </tbody>

          </table>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
    import { EventBus } from '../scripts/event-bus.js';


    export default {
        data() {
            return {
                tasks: [],
            }
        },
        methods: {
            addTask(task)
            {
                if(task.title != '')
                {
                    this.tasks.push({
                        title:task.title,
                        task_date: task.task_date,
                    })
                    // $('#incomplete-table').DataTable().draw();
                }
                console.log('new data', task);


            },
            completeTask(counter)
            {
                const task = {
                    title: this.tasks[counter].title,
                    task_date: this.tasks[counter].task_date
                }


                EventBus.$emit('Task_Completed', task)
                this.tasks.splice(counter,1);


            },
            deleteTask(counter)
            {
                this.tasks.splice(counter,1);

            },
            fetchMessage(user) {
                axios.post('/messages',{sender_id: user.id}).then(response => {
                    this.messages = response.data;
                    this.none = '';
                    this.chatAreaNone = 'd-none';
                })
                this.openChannel();
            },
            openChannel(){
                Echo.join('chat-' + this.user.id + '-' + this.authUser.id)
                    .listen('MessageSent',(event) => {
                      this.channelNames.push('chat-' + this.user.id + '-' + this.authUser.id);
                      if(event.message.sender_id == this.user.id){
                        this.messages.push(event.message)
                        console.log(event,'event');
                        var senderMessage = [this.user.first_name + ':' + event.message.message,this.user.id];
                        EventBus.$emit('last-message', senderMessage);
                      }
                    })
                Echo.join('chat-' + this.authUser.id + '-' + this.user.id)
                    .here(user => {
                        this.channelNames.push('chat-' + this.user.id + '-' + this.authUser.id);
                        this.chatusers = user;
                    })
                    .joining((user) => {
                        this.chatusers.push(user);
                    })
                    .leaving((user) => {
                        this.$delete(this.chatusers, 1)
                    })
            },
            sendMessage() {
                this.sendAt=Date.now();
                if(this.newMessage != ''){
                  this.messages.push({
                        sender_id: this.authUser.id,
                        receiver_id: this.user.id,
                        message: this.newMessage,
                        created_at: this.sendAt
                      });
                      var messageNew = this.newMessage;
                      this.newMessage = '';
                  axios.post('/messages/send', {
                      sender_id: this.authUser.id,
                      receiver_id: this.user.id,
                      message: messageNew,
                      notification: this.chatusers.length
                  }).then(response => {
                      var senderMessage = [this.authUser.first_name + ':' + messageNew,this.user.id,response.data];
                      console.log(senderMessage,'senderMessage','chat-' + this.authUser.id + '-' + this.user.id);
                      EventBus.$emit('last-message', senderMessage);
                  });


                }
            },
            getCurrentDate()
            {
                 this.currentDate=this.$moment(new Date()).format('MM-DD-YYYY');
            },
            getChatStartDate()
            {
                if(this.startDate == '')
                {
                    this.startDate=this.date;
                }
            },
            dateSeparator(currentDate, oldDate)
            {
                var current=this.$moment(currentDate).format('MM-DD-YYYY');
                var old=this.$moment(oldDate).format('MM-DD-YYYY');
                this.oldDate=currentDate;
                if(old < current)
                {
                    return true;

                }
                else
                {
                    return false;
                }
            },
            isToday(currentDate)
            {
                var today=this.$moment(new Date()).format('MM-DD-YYYY');
                var current=this.$moment(currentDate).format('MM-DD-YYYY');
                if(current == today)
                {
                    return true;
                }
                return false;

            },
            isYesterday(currentDate)
            {
                var now_start_of_the_day=this.$moment().startOf('day');
                var current_start_of_the_day=this.$moment(currentDate).startOf('day');
                var today=this.$moment(new Date()).format('MM-DD-YYYY');
                var current=this.$moment(currentDate).format('MM-DD-YYYY');
                if(current < today && now_start_of_the_day.diff(current_start_of_the_day, 'days') == 1)
                {
                    return true;
                }
                return false;
            }
        },

        mounted() {
            EventBus.$on('Task_Added', (task) => {
                this.addTask(task)

            });
        }
    }

</script>
